.table td,
.table th {
  text-align: left;
  padding: 10px 15px 5px 15px;
  font-weight: 300;
}
.status {
  width: 18px;
  height: 18px;
}
.bold,
.table th {
  color: var( --primary-color);
  font-weight: 400;
}
.table th {
  font-weight: 500;
  padding: 10px 15px;

}
.table .row span {
  font-weight: 500;
  color: var(--primary-color);
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header.status {

}
.statusCode {
  align-self: center;
  margin-left: 10px;
  color: var(--text-color);
  font-weight: 500;
  font-size: 12px;
}
.clickable {
  cursor: pointer;
}
.clickable:hover {
  color: var(--text-color);
}

.arrow {
  width: 18px;
  height: 18px;
}
.arrow.hidden {
  display: none;
}
.arrow.rotated {
  transform: rotateX(180deg);
}