.animation {
  animation: Loading 2s ease infinite;
}

.darkAnimation {
  animation: LoadingDarker 2s ease infinite;
}

@keyframes Loading {
  0% {
    background: var(--color-2);
  }
  50% {
    background: var(--color-1);
  }
  100% {
    background: var(--color-2);
  }
}

@keyframes LoadingDarker {
  0% {
    background: var(--color-2);
  }
  50% {
    background: var(--color-3);
  }
  100% {
    background: var(--color-2);
  }
}
