.popup {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 99;
  background-color: var(--color-5);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  animation-name: visible;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
@keyframes visible {
  0% {
    display: block;
    opacity: 1;
  }
  99% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.error {
  color: var(--red-color);
}
